name: Continuous Deployment

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create SSH Key from Base64
        run: |
          echo "${{ secrets.SSH_KEY }}" | base64 -d > private_key.pem
          
          chmod 600 private_key.pem
          
          if [ ! -s private_key.pem ]; then
            echo "Error: File private_key.pem kosong! Cek kembali GitHub Secret Anda."
            exit 1
          fi

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key_path: private_key.pem
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~/forum-api
            git pull origin main
            npm install
            npm run migrate up
            pm2 restart forum-api
